<%= form_with(model: profile, local: true, html: {multipart: true}) do |form| %>
  
  <div class="field">
    <%= form.label :"Foto Principal" %>
    <%= form.file_field :photo, id: :profile_photo %>
  </div><br>

  <div class="field">
    <%= form.label :Biografía %>
    <%= form.text_area :bio, id: :profile_bio %>
  </div>

  <div class="actions">
    <%= form.submit :"Guardar Cambios" %>
  </div>
<% end %>
