<h3> Editar Perfil <h3>		
<%= form_with(model: @profile, local: true, html: {multipart: true}) do |form| %>

  <div class="field">
    <%= form.label :bio %>
   <%= form.text_area :bio, id: :profile_bio %>
   
  </div>
  

  <div class="actions">
    <%= form.submit :"Guardar Cambios" %>
  </div>
<% end %>
