<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="profileNavbar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="logoStyle.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<body>
<div id="guiajuegos" class="icon">
    <div class="fbox">
        <div class="guia"><a href="index.html">Guia</a></div>
        <div class="juegos"><a href="index.html">Juegos</a></div>
    </div>
</div>

<div class="menu">
    <ul class="nav">
        <li><a href="">PS4</a></li>
        <li><a href="">XBOX</a></li>
        <li><a href="">PC</a></li>
        <li><a href="">FORO</a></li>
    </ul>

    <ul class="nav">
        <li><a href="">Noticias</a></li>
        <li><a href="">Analisis</a></li>
        <li><a href="ranking.html">Ranking</a></li>
        <li><a href="guides.html">Guias</a></li>
        <li><a href="">Eventos</a></li>
        <li><a href="">Logros</a></li>
        <li><a href="">Trucos</a></li>
        <li><a href="formulario.html">¡Regístrate!</a><li>
    </ul>
</div>

<div id="fondoPerfil">
    <div id="imagenUsuario">
        <img src="image/usuario.jpg">
    </div>
</div>



<div id="contenido">
    <div id="principal">
        <div class="menu menuAportes">
            <ul>
                <li><a class="noReload" href="myPosts.html">Mis Aportes</a></li>
                <li><a class="noReload" href="myValuations.html">Mis Valoraciones</a></li>
                <li><a class="noReload" href="trending.html">Trending</a></li>
            </ul>
        </div>
        <div id="page" class="fondoTablon"></div>
    </div>

    <div id="lateral">
        <div id="rolUsuario">
            <div class="inline">
		<% user = User.last%>
		<% profile = Profile.last%>
               
            </div>
            <div class="inline">
               <h6><%= profile.categorie %></h6>
            </div>
            <div class="inline">
		
                <h6><%= user.name %></h6> 
            </div>
            <div class="inline">
                <h6><%= profile.points %> Puntos </h6>
            </div>
        </div>
	<div >
		<p> Biografia: <%= profile.bio %></p>
 
      <span class="actions">

       <h5><%= link_to "editar", form_profile_path(user) %></h5>
      </span>

	</div>
        

        <div class="fondoLateral">
            <h6 class="tituloTablon">Stats</h6>
            <div class="inline">
                <ul class="nostyle">
                    <li><strong>Colaboraciones:</strong> X</li>
                    <li><strong>Comentarios:</strong> X</li>
                    <li><strong>Valoraciones:</strong> X</li>
                </ul>
                <ul class="nostyle">
                    <li><strong>Valoraciones recibidas:</strong> X</li>
                    <li><strong>Hilos creados:</strong> X</li>
                </ul>
            </div>
        </div>
        <div class="fondoLateral">
            <h6 class="tituloTablon">Mis Estadísticas</h6>
            <ul class="nostyle">
                <li><strong>01/12/2017</strong> +X Puntos</li>
                <li><strong>13/11/2017</strong> +X Puntos</li>
                <li><strong>30/10/2017</strong> -X Puntos</li>
                <li><strong>19/10/2017</strong> +X Puntos</li>
                <li><strong>21/09/2017</strong> -X Puntos</li>
            </ul>
        </div>
    </div>
</div>


