<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
</head>
<body>
<body>
<div id="fondoPerfil">
    <div id="imagenUsuario">
        <% if @profile.photo.blank? %>
          <%= image_tag('usuario.jpg', alt: "Foto de Perfil1") %>
        <% else %>
          <%= image_tag(@profile.photo, alt: "Foto de Perfil") %>
        <% end %>
    </div>
</div>

<div id="contenido">
    <div id="principal">
        <div class="menu menuAportes">
            <ul>
                <li><a class="noReload" href="myPosts.html">Mis Aportes</a></li>
                <li><a class="noReload" href="myValuations.html">Mis Valoraciones</a></li>
                <li><a class="noReload" href="trending.html">Trending</a></li>
            </ul>
        </div>
        <div id="page" class="fondoTablon"></div>
    </div>

    <div id="lateral">
        <div id="rolUsuario">
            <div class="inline">
               <h6><%= @profile.categorie %></h6>
            </div>
            <div class="inline">
                <h6><%= @user.name %></h6> 
            </div>
            <div class="inline">
                <h6><%= @profile.points %> Puntos </h6>
            </div>
        </div>
	<div >
	  <p> Biografia: <%= @profile.bio %></p>
	  <% if logged_in? %>
            <% if @user.id == current_user.id %>
              <span class="actions">
                <h5><%= link_to "editar", edit_profile_path(current_user) %></h5>
              </span>
            <% end %>
	  <% end %>
	</div>
        <div class="fondoLateral">
            <h6 class="tituloTablon">Stats</h6>
            <div class="inline">
                <ul class="nostyle">
                    <li><strong>Colaboraciones:</strong> X</li>
                    <li><strong>Comentarios:</strong> X</li>
                    <li><strong>Valoraciones:</strong> X</li>
                </ul>
                <ul class="nostyle">
                    <li><strong>Valoraciones recibidas:</strong> X</li>
                    <li><strong>Hilos creados:</strong> X</li>
                </ul>
            </div>
        </div>
        <div class="fondoLateral">
            <h6 class="tituloTablon">Mis Estadísticas</h6>
            <ul class="nostyle">
                <li><strong>01/12/2017</strong> +X Puntos</li>
                <li><strong>13/11/2017</strong> +X Puntos</li>
                <li><strong>30/10/2017</strong> -X Puntos</li>
                <li><strong>19/10/2017</strong> +X Puntos</li>
                <li><strong>21/09/2017</strong> -X Puntos</li>
            </ul>
        </div>
    </div>
</div>
