<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="logoStyle.css">
    <link rel="stylesheet" href="style.css">
    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js\"></script>
</head>

<body>


<div id="contenido" >
    <div id="wrapper"  style="margin: 50px 50px 50px 300px " >
        <h2>Iniciar Sesión</h2>
	<%= form_tag session_path do %> 
            <div id="username_div">
                <%= label_tag :"Nombre de Usuario" %> <br>
		<%= text_field_tag :name %>
            </div>

            <div id="password_div">
    		<%= label_tag :"Contraseña" %> <br>
    		<%= password_field_tag :password %>
  	    </div>


            <div class="actions">
    		<br> <%= submit_tag 'Iniciar Sesión' %>
  	    </div>
  
  	<% end %> 
    </div>
</div>
</body>

</html>

