<%= div_for comment do %> 
  <h3>
    <%= comment.guide_id %> &lt; said:
    <% if @guide.owned_by? current_user %> 
      <span class="actions">
         <%= link_to "delete",guide_comment_path(guide_id: @guide, id: comment), method: :delete, data: {confirm: "seguro?"} %> 
      </span>
     <% end %> 
  </h3>
   <%= comment.body %> 
<% end %> 
