<h3> Editar Perfil <h3>		
<%= form_with(model: @user, local: true, html: {multipart: true}) do |form| %>

  <div class="field">
    <%= form.label :biografia %>
   <%= form.text_area :Biografia, id: :user_biografia %>
   
  </div>
  

  <div class="actions">
    <%= form.submit :"Actualizar" %>
  </div>
<% end %>
