<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="logoStyle.css">
    <link rel="stylesheet" href="style.css">
    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js\"></script>
</head>

<body>


<div id="contenido">
    <div id="wrapper">
        <h2>¡Regístrate YA!</h2>

<%= form_with(model: @user, local: true) do |form| %>

   <div class="field">
    <%= form.label :"Nombre: " %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :"Email: " %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :"Contraseña: " %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :"Repetir contraseña: " %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>
  

  <div class="actions">
    <%= form.submit :"Registrarte" %>
  </div>
<% end %>

</div>
</div>
