<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking de usuarios</title>
</head>

<div id="contenido">

    <div class="container">
        <h2 class="ranking">Ranking de Usuarios</h2>

        <div class="menu rankingMenu">
            <ul id="ranking">
                <li><a href="">Diario</a></li>
                <li><a href="">Mensual</a></li>
                <li><a href="">Anual</a></li>
            </ul>
        </div>

        <table id="espaciado" class="table table-striped">
            <thead>
            <tr style="background-color: cornflowerblue">
                <th>#</th>
                <th>Nick</th>
                <th>Puntos</th>
            </tr>
            </thead>
            <tbody>
	    <% @users.each_with_index do |user, index| %>
                <tr>
                    <td><%= index+1 %></td>
           	    <td><%= user.name %></td>
		    <td><%= user.points %></td>
                </tr>
	    <% end %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>




