<head>
  <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.slim.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" %>
</head>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 0%">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag "nintendo.jpg", size:"1000x430" %> 
            <div class="carousel-caption d-none d-md-block"></div>
        </div>

        <div class="carousel-item">
            <%= image_tag "overwatch-ed.jpg", size:"1000x430" %>
            <div class="carousel-caption d-none d-md-block"></div>
        </div>

        <div class="carousel-item">
            <%= image_tag "callof.jpg", size:"1000x430" %>
            <div class="carousel-caption d-none d-md-block">
                <h3>Call Of Duty : Por fin ha vuelto</h3>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- div para seccion de noticias -->
<div id="contenido" class="center">
    <div id="principal">
        <h2 class="titulo">Últimas Noticias</h2>

        <div class="inline">
            <div class="auto"> <!-- div de primera noticia-->
                <h3><a href="">Disney compra 21 fox</a></h3>
                <div><%= image_tag "disney.jpg", class: "tamg" %></div>
                <p>El juego en el que todos piensan </p>
            </div>

            <div>
                <h3><a href="">Battlefield</a></h3>
                <div><%= image_tag "call.jpg", class: "tamg" %></div>
                <p>El juego en el que todos piensan </p>
            </div>
        </div>

        <div class="inline">
            <div class="auto1"> <!-- div de primera noticia-->
                <h3><a class="tam" href="">Civil Aviones</a></h3>
                <div><%= image_tag "avion.jpg", class: "tam" %></div><!--div para  imagen -->
                <p>El juego en el que todos piensan </p><!--cambios-->
            </div>

            <div class="auto1"> <!-- div de primera noticia-->
                <h3><a class="tam" href="">Pokemon Cristal</a></h3>
                <div><%= image_tag "pokemon.jpg", class: "tam" %></div>  <!--div para  imagen -->
                <p>El juego en el que todos piensan </p><!--cambios-->
            </div>

            <div class="auto1"> <!-- div de primera noticia-->
                <h3><a class="tam" href="">Final Fantasy</a></h3>
                <div><%= image_tag "muneco.jpg", class: "tam" %><!--div para  imagen -->
                <p>El juego en el que todos piensan </p><!--cambios-->
            </div>
        </div>

        <!-- div para seccion de noticias -->
        <div style="padding-top: 5%">
            <h2 class="titulo">Análisis Destacados</h2>

            <div class="inline">
                <div class="auto"> <!-- div de primera noticia-->
                    <h3><a href="">Animal Crossing</a></h3>
                    <div><%= image_tag "animal.jpg", class: "tamg" %></div>
                    <!--div para  imagen -->
                    <p>El juego en el que todos piensan </p>
                </div>

                <div>
                    <h3><a href="">Tekken</a></h3>
                    <%= image_tag "teken.jpg", class: "tamg" %><!--div para  imagen -->
                    <p>El juego en el que todos piensan </p>
                </div>
            </div>

            <div class="inline">
                <div class="auto1"> <!-- div de primera noticia-->
                    <h3><a class="tam" href="">The Hunter</a></h3>
                    <div><%= image_tag "hunter.jpg", class: "tam" %></div>
                    <!--div para  imagen -->
                    <p>El juego en el que todos piensan </p><!--cambios-->
                </div>

                <div class="auto1"> <!-- div de primera noticia-->
                    <h3><a class="tam" href="">Player underground</a></h3>
                    <div><%= image_tag "pubg.jpg", class: "tam" %></div>
                    <!--div para  imagen -->
                    <p>El juego en el que todos piensan </p><!--cambios-->
                </div>

                <div class="auto1"> <!-- div de primera noticia-->
                    <h3><a class="tam" href="">Metroid</a></h3>
                    <div><%= image_tag "futurista.jpg", class: "tam" %></div>
                    <p>El juego en el que todos piensan </p>
                </div>
            </div>
        </div>
    </div>

    <div id="lateral" class="lateralBorder">
        <h5 class="titulillo"> Últimos Trucos</h5>
        <%= image_tag "pubg.jpg" %>
        <p>Desbloquear rifle </p>

        <%= image_tag "bluedragon.jpg" %>
        <p>Como desbloquear el pico de oro</p>

        <h5 class="titulillo">Últimos Logros</h5>
        <%= image_tag "psp.jpg" %>
        <p>Logro: Viejo pero sabio</p>

        <%= image_tag "coche.jpg", class: "tamg" %>
        <p>Logro: Fast and Furious</p>

        <h5 class="titulillo"> Ranking de Usuarios</h5>
        <div class="menu">
            <ul id="ranking">
                <li class="ranking"><a href="">Diario</a></li>
                <li class="ranking"><a href="">Mensual</a></li>
                <li class="ranking"><a href="">Anual</a></li>
            </ul>
        </div>

        <table id="espaciado" class="table table-striped">
            <thead>
            <tr style="background-color: cornflowerblue">
                <th>#</th>
                <th>Nick</th>
                <th>Puntos</th>
            </tr>
            </thead>

            <tbody>
            <div>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="dropdown">
                            <img class="ranking" src="image/usuario.jpg">Nicky
                            <div class="dropdown-content">
                                <%= image_tag "usuario.jpg", size: "100x100" %>
                                <div class="desc"><h6>Nicky</h6>
                                    <h6> Bio: le gusta jugar al tennis</h6>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>3000</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>
                        <div class="dropdown">
                            <img class="ranking" src="image/usuario.jpg">Mickey
                            <div class="dropdown-content">
                                <%= image_tag "usuario.jpg", size: "100x100" %>
                                <div class="desc"><h6>Mickey</h6>
                                    <h6> Bio: le gusta jugar al tennis</h6>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img class="ranking" src="image/usuario.jpg">Laura</td>
                    <td>1000</td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
