<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking de usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="logoStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<div id="guiajuegos">
    <div class="fbox">
        <div class="guia"><a href="index.html">Guia</a></div>
        <div class="juegos"><a href="index.html">Juegos</a></div>
    </div>
</div>

<div class="menu">
    <ul>
        <li><a href="">PS4</a></li>
        <li><a href="">XBOX</a></li>
        <li><a href="">PC</a></li>
        <li><a href="">FORO</a></li>

    </ul>
    <ul>
        <li><a href="">Noticias</a></li>
        <li><a href="">Análisis</a></li>
        <li><a id="active" href="ranking.html">Ranking</a></li>
        <li><a href="guides.html">Guias</a></li>
        <li><a href="">Eventos</a></li>
        <li><a href="">Logros</a></li>
        <li><a href="">Trucos</a></li>
        <li><a href="formulario.html">Regístrate</a>
        <li>
    </ul>
</div>
<div id="contenido">

    <div class="container">
        <h2 class="ranking">Ranking de Usuarios</h2>

        <div class="menu rankingMenu">
            <ul id="ranking">
                <li><a href="">Diario</a></li>
                <li><a href="">Mensual</a></li>
                <li><a href="">Anual</a></li>
            </ul>
        </div>

        <table id="espaciado" class="table table-striped">
            <thead>
            <tr style="background-color: cornflowerblue">
                <th>#</th>
                <th>Nick</th>
                <th>Puntos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><img class="ranking" src="image/usuario.jpg">Nicky</td>
                <td>3000</td>
            </tr>
            <tr>
                <td>2</td>
                <td><img class="ranking" src="image/usuario.jpg" alt=""> Mickey</td>

                <td>2000</td>
            </tr>
            <tr>
                <td>3</td>
                <td><img class="ranking" src="image/usuario.jpg">Laura</td>
                <td>1000</td>
            </tr>

            <tr>
                <td>4</td>
                <td><img class="ranking" src="image/usuario.jpg">Marcos</td>
                <td>500</td>
            </tr>

            <tr>
                <td>5</td>
                <td><img class="ranking" src="image/usuario.jpg">Chicho</td>
                <td>400</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>




