body {
    background-color: orange;
    width: 980px;
    margin-left: auto;
    margin-right: auto; }

  a:link {
    text-decoration: none; }

  h4 {
    margin: 5px 0 20px 0; }

  .menu {
    height: auto;
    margin-top: 1px; }
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black; }
    .menu li {
      float: left; }
      .menu li a {
        display: block;
        text-decoration: none;
        padding: 5px 15px;
        /*lo que esta por dentro del borde es el padding */
        /* 5 arriba y abajo y 15 izq derech */
        font-weight: bold;
        color: #ccc;
        /* no todos los navegadores pillan el 2 tipo declarado por ello necesitamos hacer un caso base primero */
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .menu li a:hover:not(#active) {
          color: orange; }
    .menu #active {
      color: orangered; }

  .menuGuias {
    height: auto;
    margin-top: 1px;
    margin-bottom: 10px; }
    .menuGuias ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: black; }
    .menuGuias li {
      float: left; }
      .menuGuias li a {
        display: block;
        text-decoration: none;
        padding: 5px 15px;
        /*lo que esta por dentro del borde es el padding */
        /* 5 arriba y abajo y 15 izq derech */
        font-weight: bold;
        color: #ccc;
        /* no todos los navegadores pillan el 2 tipo declarado por ello necesitamos hacer un caso base primero */
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .menuGuias li a:hover:not(#active) {
          color: orange; }
    .menuGuias #active {
      color: orangered; }

  .menuAportes ul {
    margin-left: -10px;
    margin-bottom: 8px;
    border-radius: 5px; }
  .menuAportes li {
    border-right: 1px solid orange; }
    .menuAportes li:last-child {
      border-right: none; }
    .menuAportes li a {
      padding: 15px 55px 15px 55px; }

  .inline {
    display: inline-flex; }

  .center p {
    text-align: center; }

  .titulo {
    padding: 0 1% 0 2%;
    background-color: orange;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: -10px;
    color: black;
    box-shadow: 3px 3px black; }

  .titulillo {
    border-radius: 5px;
    margin: 0px -17px 8px -11px;
    padding-left: 3px;
    background-color: black;
    color: white; }

  div#izquierda {
    width: 625px; }

  .nostyle {
    text-decoration: none;
    padding-left: 20px;
    list-style-type: none;
    font-size: 85%; }

  .auto {
    margin-right: 4%;
    float: left;
    display: list-item;
    list-style: none; }

  .auto1 {
    float: left;
    display: list-item;
    list-style: none; }

  a.tam {
    font-size: 18px; }

  img.tam {
    width: 200px;
    height: 85px;
    padding: 0 2px 0 2px; }
  img.tamg {
    width: 294px;
    height: 96px; }

  #contenido {
    width: 980px;
    display: inline-flex;
    background-color: white;
    border: 1px solid black; }

  #principal {
    width: 649px;
    padding-left: 20px;
    margin: 50px 10px 18px 0; }

  #lateral {
    width: 330px;
    height: auto;
    padding-left: 8px;
    padding-right: 16px;
    margin: 50px 0 0 0;
    float: left; }

  #lateralGuias {
    width: 330px;
    height: auto;
    padding-left: 8px;
    padding-right: 16px;
    margin: 266px 0 0 -10px;
    float: left; }

  .lateralBorder {
    border: 1px solid black;
    border-radius: 7px;
    border: dotted;
    border-right: hidden;
    border-top: hidden; }

  #espaciado {
    margin-top: 7%;
    margin-bottom: 7%; }

  ul#ranking {
    list-style-type: none;
    padding: 5px 5px 5px 25px;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px; }

  li a.ranking {
    display: block;
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left; }

  h2.ranking {
    margin-top: 20px;
    text-align: center; }

  img.ranking {
    width: 50px;
    height: 50px;
    margin-right: 5%;
    border: solid 1px black;
    border-radius: 150px; }

  .rankingMenu {
    width: 300px;
    margin-left: 325px; }

  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: 70%;
    margin-bottom: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border: 2px solid black; }

  .dropdown:hover .dropdown-content {
    display: table-row;
    width: 300px;
    height: 200px; }

  .desc {
    padding: 15px;
    text-align: left; }

  #wrapper {
    width: 40%;
    height: 40%;
    margin: 10% 30% 10% 30%;
    padding: 50px;
    background: lightgray;
    border: 1px red solid; }

  .textInput {
    height: 28px;
    margin: 2px;
    border: 1px solid black;
    font-size: 1.2em;
    padding: 5px;
    width: 95%; }
    .textInput:focus {
      outline: none; }

  .btn {
    width: 98.6%;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 12px; }

  select {
    width: 150px;
    height: 50px;
    text-align: center;
    border: groove;
    font-weight: bold; }

  ul.enlaces {
    list-style: none; }

  li.enlaces {
    border: solid 1px orange;
    background-color: black;
    margin: 0; }

  ul#menu1 {
    overflow: hidden; }

  .imagui {
    width: 150px;
    height: 200px;
    margin-right: 5%;
    border-radius: 10px; }

  .alinear {
    width: 120px;
    height: 200px; }

  a.alinear {
    margin-right: 5%; }

  .pegar {
    display: inline-block; }

  table {
    margin-top: 3%; }



  td.position {
    display: inline-flex;
    width: 600px;
    margin-right: 13px;
    padding: 3px; }

  div.texto {
    text-align: left;
    margin: 10%; }

  ul.texto {
    font-size: 15px;
    list-style: none;
    padding: 0; }

  li.texto {
    display: inline; }

  a.texto {
    font-size: 23px;
    margin-bottom: 40px; }

  #fondoPerfil {
    height: 350px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: darkslateblue;
    background: url("fondo_perfil.jpg");
    background-repeat: no-repeat;
    background-size: 978px 350px; }

  #rolUsuario {
    text-align: center; }
    #rolUsuario h4 {
      color: orangered; }

  #imagenUsuario {
    position: relative;
    text-align: right;
    right: 5%;
    top: 35%; }
    #imagenUsuario img {
      width: 25%;
      height: 25%;
      border-radius: 50%;
      border: 2px solid black; }

  #page {
    margin-left: -10px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: lightyellow; }

  .tituloTablon {
    border-radius: 5px;
    margin-bottom: 8px;
    padding-left: 10px;
    background-color: black;
    color: white; }

  .tablon {
    padding-left: 10px;
    text-align: left; }

  .fondoLateral {
    margin: 0px -10px 8px -11px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: lightyellow; }

  /*# sourceMappingURL=style.css.map */

