<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guias</title>

</head>
<body>


<div>

    <div id="contenido" class="container">

        <div id="principal">
            <h2 style="margin-left: 30%" class="ranking">Guías</h2>

            <form id="Genero" action="">

                <select name="Genero">
                    <option value="Accion">Accion</option>
                    <option value="Ciencia Ficcion">Ciencia Ficcion</option>
                    <option value="Misterio">Misterio</option>
                    <option value="Deportes">Deportes</option>
                </select>
                <br><br>
            </form>
           <% if logged_in? %>
           <div class="guia"><%= link_to " + Crear guia", new_guide_path %></div>
            <% end %>

            <div class="menuGuias">
                <ul>
                    <li class="enlaces"><a href="">A</a></li>
                    <li class="enlaces"><a href="">B</a></li>
                    <li class="enlaces"><a href="">C</a></li>
                    <li class="enlaces"><a href="">D</a></li>
                    <li class="enlaces"><a href="">E</a></li>
                    <li class="enlaces"><a href="">F</a></li>
                    <li class="enlaces"><a href="">G</a></li>
                    <li class="enlaces"><a href="">H</a></li>
                    <li class="enlaces"><a href="">I</a></li>
                    <li class="enlaces"><a href="">J</a></li>
                    <li class="enlaces"><a href="">K</a></li>
                    <li class="enlaces"><a href="">L</a></li>
                    <li class="enlaces"><a href="">M</a></li>
                    <li class="enlaces"><a href="">N</a></li>
                    <li class="enlaces"><a href="">O</a></li>
                    <li class="enlaces"><a href="">P</a></li>
                    <li class="enlaces"><a href="">Q</a></li>
                    <li class="enlaces"><a href="">R</a></li>
                    <li class="enlaces"><a href="">S</a></li>
                    <li class="enlaces"><a href="">T</a></li>
                    <li class="enlaces"><a href="">U</a></li>
                    <li class="enlaces"><a href="">V</a></li>
                    <li class="enlaces"><a href="">W</a></li>
                    <li class="enlaces"><a href="">X</a></li>
                    <li class="enlaces"><a href="">Y</a></li>
                    <li class="enlaces"><a href="">Z</a></li>
                </ul>
            </div>

           <table id="espaciado" class="table table-striped">
            <tbody>
	    <% @guides.each do |guide| %>
                <tr>
                    <td><%= link_to image_tag(guide.photo), guide_path(guide.id) %></td>
                    <td><%= link_to guide.title, guide_path(guide.id) %></td>
           	    <td><%= guide.category %></td>
		    <td><%= guide.trophies %> trofeos</td>
                    <td>Autor:<%= guide.name %></td>
                    <td>
                        <% if logged_in? %>
                          <% if guide.user_id == current_user.id %>
                             <span class="actions">
                             <h5><%= link_to "Editar", edit_guide_path(guide.id) %></h5>
                             <h5><%= link_to "Eliminar", guide, method: :delete, data: {confirm: "seguro??"} %></h5>
                            </span>
                          <% end %>
	                <% end %>
                    </td>
                </tr>
	    <% end %>
            </tbody>
        </table>
                    

        <div>
            <div id="lateralGuias" class="lateralBorder">

                <h5 class="titulillo"> Mas Recientes</h5>
                <img src="image/bloodborne.jpg" alt="Blood Borne">
                <a class="auto1" href=""> Nuevo jefe para BloodBorne </a>

                <img src="image/bluedragon.jpg" alt="blue dragon">
                <a class="auto1" href=""> Blue dragon el poder del fuego.</a>

                <img src="image/starwars.jpg" alt="foto de consola">
                <a class="auto1" href="">Los secretos tras Star Wars</a>

                <img class="tamg" src="image/sega.jpg" alt="Sega">
                <a class="auto1" href="">Posible nuevo juego para Sega</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
