<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show of guides</title>
</head>
<body>
<div>
    <div id="contenido" class="container">
        <div id="principal">

            <h2 style="margin-left: 30%" class="ranking"><%= @guide.title %></h2>

            <p><%= @guide.name %> | <%= @guide.updated_at %></p>

            <div style="padding: 2% 3% 2% 0"><%= image_tag(@guide.photo) %></div>
            <p><%= @guide.body %></p>

            <h7>¡Déjanos tu comentario! (@guide.comments.count)</h7>
	    <%= render file:'comments/new' %> 
        </div>

        <div>
            <div id="lateralGuias" class="lateralBorder">
                <h5 class="titulillo"> Mas Recientes</h5>
                <img src="image/bloodborne.jpg" alt="Blood Borne">
                <a class="auto1" href=""> Nuevo jefe para BloodBorne </a>

                <img src="image/bluedragon.jpg" alt="blue dragon">
                <a class="auto1" href=""> Blue dragon el poder del fuego.</a>

                <img src="image/starwars.jpg" alt="foto de consola">
                <a class="auto1" href="">Los secretos tras Star Wars</a>

                <img class="tamg" src="image/sega.jpg" alt="Sega">
                <a class="auto1" href="">Posible nuevo juego para Sega</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
